astunparse==1.6.3
attrs==25.3.0
autocommand==2.2.2
backports.tarfile==1.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
expecttest==0.3.0
filelock==3.18.0
fsspec==2025.3.0
hypothesis==6.129.4
idna==3.10
importlib_metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2==3.1.6
MarkupSafe==3.0.2
more-itertools==10.3.0
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
optree==0.14.1
packaging==24.2
platformdirs==4.2.2
psutil==7.0.0
PyYAML==6.0.2
requests==2.32.3
setuptools==76.1.0
sh==2.2.2
six==1.17.0
sortedcontainers==2.4.0
sympy==1.13.3
tomli==2.0.1
typeguard==4.3.0
types-dataclasses==0.6.6
typing_extensions==4.12.2
urllib3==2.3.0
wheel==0.45.1
zipp==3.19.2
